[postgresql]
host=
database=
user=
password=
port=

[mongodb]
host=
port=
database=
collection=
clct_collection=
image_collection=
image_convert_collection=

[regex]
clct_collections=
duplicate_date_range=